node_modules/
public/
.cache/
.DS_Store
static/*
# Don't ignore the scripts or svg directory
!static/scripts
!static/svg
docs-tools/
coverage/
.coverage
.env.*
tests/unit/data/site/__testDataLatest.json
preview/page-ast.json
preview/bundle.js
