node_modules/
public/
.cache/
.DS_Store
static/*
# Don't ignore the assets or media directory
!static/assets
!static/media
docs-tools/
coverage/
.coverage
.env.*
.vscode/
.env
.swc/
bundle.zip
# Local Netlify folder
.netlify
# pyenv
.python-version
