registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
email=matt.meigs@mongodb.com
always-auth=true
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:_auth=bWF0dC5tZWlnc0Btb25nb2RiLmNvbTpjbVZtZEd0dU9qQXhPakUzTXpZek5qYzVOakE2ZUdWemIwUk1ObFJoZDJ4S2FqWk1abXhRZEU1QldYQm1SMmh3
