registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
@mdb:registry=https://artifactory.corp.mongodb.com/artifactory/api/npm/npm/
//artifactory.corp.mongodb.com/artifactory/api/npm/npm/:_auth=${QUtDcEJ1b0M4NXI5MWRGeU1oTFY1Z3Eyc2tRajJZRENaNDlENkw5eHpIV0JIOHVqS3RZTW41Y1g0QjJZU3NGYUFtTHF1a2tYQg==}
_email=${kamil.khan@mongodb.com}
_always-auth=true
# Ensures npm doesn't throw error about conflicting versions of React for LG components
legacy-peer-deps=true
