h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  justify-self: end;
}

p {
  font-size: 16px;
}

.span-columns {
  grid-column: 2 / 11 !important;
}

.right-column {
  grid-column: 9 / -1 !important;
  grid-row-start: 1 !important;
  grid-row-end: 3 !important;
}
