body {
  --font-color-primary: var(--black);
  --font-color-light: var(--gray-base);
  --heading-color-primary: var(--green-dark2);

  --link-color-primary: var(--blue-base);
  --link-font-weight: 500;

  --background-color-primary: var(--white);
  --background-color-secondary: var(--gray-light3);

  --tab-color-primary: var(--gray-dark1);
  --tab-color-secondary: var(--green-dark2);

  --wayfinding-bg-color: var(--gray-light3);
  --wayfinding-border-color: var(--gray-light2);
}

.dark-theme body {
  --font-color-primary: var(--gray-light2);
  --font-color-light: var(--gray-light2);
  --heading-color-primary: var(--gray-light2);

  --link-color-primary: var(--blue-light1);
  --link-font-weight: 700;

  --background-color-primary: var(--black);
  --background-color-secondary: transparent;

  --tab-color-primary: var(--gray-light1);
  --tab-color-secondary: var(--gray-light2);

  --wayfinding-bg-color: var(--gray-dark3);
  --wayfinding-border-color: var(--gray-dark2);
}

body {
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
}
