body {
  background-color: initial;
  color: initial;
}

.dark-theme body {
  background-color: var(--lg-bg-dark-mode);
  color: var(--lg-color-dark-mode);
}

body {
  --font-color-primary: var(--black);
  --font-color-light: var(--gray-base);
  --heading-color-primary: var(--green-dark2);

  --link-color-primary: var(--blue-base);
  --link-font-weight: 500;

  --background-color-primary: var(--white);
  --background-color-secondary: var(--gray-light3);

  --tab-color-primary: var(--gray-dark1);
  --tab-color-secondary: var(--green-dark2);
}

.dark-theme body {
  --font-color-primary: var(--gray-light2);
  --font-color-light: var(--gray-light2);
  --heading-color-primary: var(--gray-light2);

  --link-color-primary: var(--blue-light1);
  --link-font-weight: 700;

  --background-color-primary: var(--gray-dark3);
  --background-color-secondary: transparent;

  --tab-color-primary: var(--gray-light1);
  --tab-color-secondary: var(--gray-light2);
}

.nav-dark {
  display: none;
}

.nav-light {
  display: initial;
}

.dark-theme .nav-dark {
  display: initial;
}

.dark-theme .nav-light {
  display: none;
}