.leftColumn.postRender {
    display: flex !important;
}

.showNav.postRender {
    display: block !important;
}

@media print {
    .leftColumn.postRender {
        display: none !important;
    }
}
