/**
 *  LG/select@7 issues:
 *  - cannot pass emotion/css attribute to select component, option components
 *  - remove styling and pass styling props once this is resolved
 */

.option-item {
  align-items: center;
}

/* hide option item icons, but keep for selection */
.option-item > span > svg {
  display: none;
}

.lg-select > button {
  z-index: 5;
}

/* styling button's content */
.lg-select > button > div > div > div {
  display: flex;
  align-items: center;
}

