[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["snappy", "srv", "tls"], version = "*"}
docutils = "*"
dnspython = "*"
watchdog = "*"
toml = "*"
pyyaml = "*"
typing-extensions = "*"
python-jsonrpc-server = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
pytest = "*"
