[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
docutils = "*"
dnspython = "*"
watchdog = "*"
toml = "*"
pyyaml = "*"
typing-extensions = "*"

[dev-packages]
mypy = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
