on:
  push:
    branches:
      - "main"
  pull_request:
    types: ["opened", "synchronize"]

name: Run and Upload Lighthouse Reports to MongoDB
jobs: 
  staging:
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        project: ['cloud-docs', 'docs']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      # - name: Access Build Data
      #   uses: mongodb/docs-worker-actions/build-artifact@main
      #   env: 
      #     PROJECT_TO_BUILD: ${{ matrix.project }}
      # - name: Build Snooty
      #   env:
      #     NPM_BASE_64_AUTH: ${{ secrets.NPM_BASE_64_AUTH }}
      #     NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
      #     GATSBY_BUILD_FROM_JSON: true
      #     GATSBY_PARSER_USER: docsworker-xlarge
      #     GATSBY_SITE: ${{ matrix.project }}
      #     GATSBY_PARSER_BRANCH: main
      #   run: |
      #     npm ci --legacy-peer-deps
      #     npm run build
      # - name: Run Lighthouse
      #   env: 
      #     GATSBY_SITE: ${{ matrix.project }}
      #     LIGHTHOUSE_SERVER_URL: ${{ secrets.LIGHTHOUSE_SERVER_URL }}
      #     LIGHTHOUSE_BUILD_TOKEN: ${{ secrets.LIGHTHOUSE_BUILD_TOKEN }}
      #     LHCI_BUILD_CONTEXT__CURRENT_BRANCH: ${{ matrix.project }}
      #   run: |
      #     npm install -g @lhci/cli
      #     lhci collect --additive --config=.mobile-lighthouserc.js
      #     lhci collect --additive --config=.desktop-lighthouserc.js
      #     lhci upload --target=filesystem --outputDir=./lhci
      - name: Output commit message and timestamp
        id: commit_msg_timestamp
        run: |
          message=$(git log -1 --no-merges --format=oneline --pretty=%B)
          timestamp=$(git log -1 --format=%cd --date=iso-strict)
          echo "::set-output name=commit_message::$message"
          echo "::set-output name=commit_timestamp::$timestamp"
      - name: List commits on the pull request
        run: |
          response=$(curl --request GET --url 'https://api.github.com/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/commits?page=1&per_page=1000' --header 'Accept: application/vnd.github.v3+json' --header 'Content-Type: application/json')
          last_commit=$(echo "$response" | jq '.[-1].commit')
          last_commit_message=$(echo "$response" | jq '.[-1].commit.message')
          echo "::set-output name=last_commit::$last_commit"
          echo "last $last_commit"
          echo "last mess $last_commit_message"

      # - name: Upload Lighthouse to MongoDB
      #   uses: mongodb/docs-worker-actions/upload-lighthouse@main
      #   env:
      #     PROJECT_TO_BUILD: ${{ matrix.project }}
      #     COMMIT_MESSAGE: ${{ steps.commit_msg_timestamp.outputs.commit_message }}
      #     COMMIT_TIMESTAMP: ${{ steps.commit_msg_timestamp.outputs.commit_timestamp }}
      #     BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      #     ATLAS_URI: ${{ secrets.ATLAS_URI }}
          