name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    env:
      NPM_BASE_64_AUTH: ${{ secrets.NPM_BASE_64_AUTH }}
      NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v1
        with:
          node-version: '18.15'
      - name: Install
        run: npm ci --legacy-peer-deps
      - name: Lint
        run: npm run lint && npm run format
      - name: Test
        run: npm test
        env:
          CI: true
